<!DOCTYPE html>
<html>
  <head>
    <title> Practica </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Laboratorio 2 </h1>
    <p>Bienvenido al Laboratorio 2</p>
  </body>
</html>
